openapi: 3.0.1
servers:
  - description: Index swagger
    url: https://api.mibanco.com.co
info:
  description: Tarea CrearClienteCdtDigitalTS.
  version: 0.0.1
  title: CrearClienteCdtDigitalTS
  contact:
    name: MiBanco
    url: https://www.mibanco.com.co/
    email: api@mibanco.com.co
  license:
    name: GNU GPLv3
    url: 'https://www.gnu.org/licenses/gpl-3.0.html'
tags:
  - name: CrearClienteCdtDigitalTS
    description: Tarea para crear un ClienteCdtDigitalTS
#----------------------------
#Endpoints del Entidad
#----------------------------
paths:
  /v1/ts/clienteCDT/:
    post:
      tags:
        - Crear cliente cdt digital
      operationId: crearClienteCDTDigital
      parameters:
      - in: header
        name: networkOwner
        description: Propietario de la red
        required: true
        schema:
          type: string
      - in: header
        name: networkRefId
        description: ID de referencia de la red
        required: true
        schema:
          type: string
      - in: header
        name: terminalId
        description: ID del terminal
        required: true
        schema:
          type: string
      - in: header
        name: ipAddress
        description: Dirección IP
        required: true
        schema:
          type: string
      - in: header
        name: custPermId
        description: ID de permiso del cliente
        required: true
        schema:
          type: string
      - in: header
        name: operationCode
        description: Código de operación
        required: true
        schema:
          type: integer
      requestBody:
        description: Crear cliente cdt digital
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClienteCDTDigitalType"
      responses:
        "201":
          description: Cliente cdt digital creado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrearClienteCDTDigitalOutput"
        "400":
          description: "Parámetros de entrada no validos."
        "404":
          description: "No se encuentra el cliente."
#---------------------------------------------
#Se declaran los Modelos/Schemas del servicio
#---------------------------------------------
components:
  schemas:
    ClienteCDTDigitalType:
      type: object
      properties:
        id:
          type: string
        tipoTelefonoPrincipal:
          type: string
          minLength: 1
          maxLength: 50
        telefonoPrincipal:
          type: integer
          nullable: false
        tipoCorreoElectronico:
          type: string
        genero:
          $ref: "#/components/schemas/GeneroEnum"
        fechaNacimientoDia:
          type: integer
        fechaNacimientoMes:
          type: integer
        fechaNacimientoAno:
          type: integer
        lugarNacimientoPais:
          type: string
        lugarNacimientoDpto:
          $ref: "#/components/schemas/DepartamentoEnum"
        lugarNacimientoCiudad:
          $ref: "#/components/schemas/CiudadEnum"
        nacionalidad:
          type: string
        nivelConsulta:
          type: integer
        fechaExpedicionDocumentoDia:
          type: integer
        fechaExpedicionDocumentoMes:
          type: integer
        fechaExpedicionDocumentoAno:
          type: integer
        expedicionDocumentoPais:
          type: string
        expedicionDocumentoDpto:
          $ref: "#/components/schemas/DepartamentoEnum"
        expedicionDocumentoCiudad:
          $ref: "#/components/schemas/CiudadEnum"
        paisResidencia:
          type: string
        subActividadEconomica:
          type: string
        ocupacion:
          type: string
        actividadEconomicaCIIU:
          $ref: "#/components/schemas/TipoActividadCIIUEnum"
        sectorEconomico:
          $ref: "#/components/schemas/SectorEconomicoEnum"
        registroBiometria:
          type: boolean
        causalNoBiometria:
          type: integer
        direccionPersonal:
          type: string
        direccionPersonalPais:
          type: string
        direccionPersonalDpto:
          $ref: "#/components/schemas/DepartamentoEnum"
        direccionPersonalCiudad:
          $ref: "#/components/schemas/CiudadEnum"
        barrioDireccionPersonal:
          type: string
        usoDireccionPersonal:
          type: string
        tipoDireccionPersonal:
          type: string
        categoriaDireccionPersonal:
          type: string
        envioCorrespondencia:
          type: string
        ingresosMensuales:
          type: number
          format: float
        patrimonio:
          type: number
          format: float
        declaracionOrigenFondos:
          type: string
        reconocimientoPublicoExtranjero:
          type: boolean
        reconocimientoPublicoNacional:
          type: boolean
        segmento:
          type: string
        nicho:
          type: string
        canalContactoPreferido:
          type: string
        asesorComercial:
          type: integer
        tipoVinculacion:
          type: string
        porqueMedioSeEnteroDeNosotros:
          type: string
        agenciaVinculacion:
          type: integer
        fechaDiligenciamientoFormularioDia:
          type: integer
        fechaDiligenciamientoFormularioMes:
          type: integer
        fechaDiligenciamientoFormularioAno:
          type: integer
        fechaVinculacionDia:
          type: integer
        fechaVinculacionMes:
          type: integer
        fechaVinculacionAno:
          type: integer
        lugarDiligenciamientoFormularioPais:
          type: string
        lugarDiligenciamientoFormularioDpto:
          $ref: "#/components/schemas/DepartamentoEnum"
        lugarDiligenciamientoFormularioCiudad:
          $ref: "#/components/schemas/CiudadEnum"
        residenteFiscalEnOtroPais:
          type: boolean
        identificacionFiscal1:
          type: integer
        direccionExtranjero:
          type: boolean
        tin1:
          type: integer
        residenciaFiscalPais:
          type: string
        clasificacionFatca:
          type: string
        fechaClasificacionFatca:
          type: string
          format: date-time
        clasificacionCRS:
          type: string
        fechaClasificacionCRS:
          type: string
          format: date-time
        autorizacionEnvioCelularCorreo:
          type: boolean
        canalEnvioCelularYCorreo:
          type: string
        productoSolicitado:
          type: string
        clienteBase:
          $ref: "#/components/schemas/ClienteBaseType"
        codigoNovedadListas:
          type: string
        #customParams:
        #type: Array
        #items:
        #$ref: '#/components/schemas/CustomParamType'
    ClienteBaseType:
      type: object
      properties:
        id:
          type: string
        numeroCliente:
          type: integer
        tipoPersona:
          $ref: "#/components/schemas/TipoPersonaEnum"
        tipoDocumento:
          $ref: "#/components/schemas/TipoDocumentoEnum"
        numeroDocumento:
          type: integer
        fechaExpedicionDocumento:
          type: string
          format: date-time
        primerNombre:
          type: string
        numeroCelular:
          type: integer
        segundoNombre:
          type: string
        primerApellido:
          type: string
        segundoApellido:
          type: string
        correoElectronico:
          type: string
    CrearClienteCDTDigitalOutput:
      type: object
      properties:
        numeroCliente:
          type: integer
        novedad:
          $ref: "#/components/schemas/NovedadCDTDigitalType"
    ArchivoType:
      type: object
      properties:
        archivoId:
          type: string
        base64:
          type: array
          items:
            type: integer
            format: byte
          example: [10, 20, 30, 40]  # Ejemplo de una lista de bytes
        extensionArchivo:
          type: string
        nombreArchivo:
          type: string
        url:
          type: string
        urlPublica:
          type: boolean
    NovedadCDTDigitalType:
      type: object
      properties:
        id:
          type: integer
        numeroDocumento:
          type: string
        codigoNovedad:
          type: string
        descripcionNovedad:
          type: string
        fechaNovedad:
          type: string
          format: date-time
    TipoPersonaEnum:
      type: string
      enum:
        - 1
        - 2
    TipoDocumentoEnum:
      type: string
      enum:
        - CC
        - TI
        - CDI
        - CE
        - CPA
        - NIT
        - PAS
        - RCN
        - RUT
        - TE
        - RUMC
    GeneroEnum:
      type: string
      enum:
        - FEMENINO
        - MASCULINO
    DepartamentoEnum:
      type: string
      enum:
        - ANTIOQUIA
        - ATLANTICO
        - BOGOTA D.C.
        - FUERA DEL PAIS
        - BOLIVAR
        - BOYACA
        - CALDAS
        - CAQUETA
        - CAUCA
        - CESAR
        - CORDOBA
        - CUNDINAMARCA
    CiudadEnum:
      type: string
      enum:
        - MEDELLIN
        - ABEJORRAL
        - ABRIAQUI
        - ALEJANDRIA
        - AMAGA
        - AMALFI
        - ANDES
        - ANGELOPOLIS
        - ANGOSTURA
        - ANORI
    SectorEconomicoEnum:
      type: string
      enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
    TipoActividadCIIUEnum:
      type: string
      enum:
        - 10
        - 81
        - 82
        - 90
        - 111
        - 112
        - 113
        - 114
        - 115
        - 119
        - 121